<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Qvantel App</title>

		<link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
		<link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
		<script src="../static/js/jquery-1.11.2.js"></script>
	</head>
	<body>
		<div class="container">
			<div class="header">
				<nav>
					<ul class="nav nav-pills pull-right">
						<li role="presentation" class="active"><a href="#">Add a new Product</a></li>
						<li role="presentation" ><a href="/logout">Logout</a></li>
					</ul>
				</nav>
				<h3 class="text-muted">Python Flask App</h3>
			</div>
			<section>
				<form class="form-horizontal" method="post" action="/addProduct">
					<fieldset>
						<!-- Form Name -->
						<legend>Add a new product</legend>

						<!-- Text input name of product-->
						<div class="form-group">
							<label class="col-md-4 control-label" for="txtName">Name</label>  
							<div class="col-md-4">
								<input id="txtName" name="inputName" type="text" placeholder="placeholder" class="form-control input-md" required>
							</div>
						</div>

						<!-- Textarea input description of product-->
						<div class="form-group">
							<label class="col-md-4 control-label" for="txtPost">Description</label>
							<div class="col-md-4">                     
								<textarea class="form-control" id="txtPost" name="inputDescription" required></textarea>
							</div>
						</div>

						<!-- Text input price of product-->
						<div class="form-group">
							<label class="col-md-4 control-label" for="txtPrice">Price</label>  
							<div class="col-md-4">
								<input id="txtPrice" name="inputPrice" type="text" placeholder="placeholder" class="form-control input-md" required>
							</div>
						</div>

						<!-- Text input count of product-->
						<div class="form-group">
							<label class="col-md-4 control-label" for="txtCount">Count</label>  
							<div class="col-md-4">
									<input id="txtCount" name="inputCount" type="text" placeholder="placeholder" class="form-control input-md" required>
							</div>
						</div>

						<!-- Button -->
						<div class="form-group">
							<label class="col-md-4 control-label" for="singlebutton"></label>
							<div class="col-md-4">
								<input id="singlebutton" name="singlebutton" class="btn btn-primary" type="submit" value="Publish" />
							</div>
						</div>
					</fieldset>
				</form>
			</section>
			<footer class="footer">
				<p>&copy; Tuomas Liikala 2016</p>
			</footer>
		</div>
	</body>
</html>

